.oph-speedDial {
  @apply fixed end-6 bottom-6 flex flex-col items-end;
  &-menu {
    @apply flex flex-col items-center mb-4 space-y-2;
    &.open {
      @apply hidden;
    }
    &-button {
      @apply flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-lg border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400;
    }
  }
  &-mainbutton {
    @apply flex items-center justify-center p-4 cursor-pointer
     text-white bg-gray-800 rounded-full w-18 h-18
      hover:bg-gray-500 dark:bg-gray-400
       dark:hover:bg-gray-700 focus:ring-4
        focus:ring-blue-300 focus:outline-none
         dark:focus:ring-blue-800;
  }
}
