@font-face {
  font-family: 'ophelia-icons-site-icon';
  src: url('ophelia-icons-site-icon.woff2') format('woff2'),
       url('ophelia-icons-site-icon.woff') format('woff'),
       url('ophelia-icons-site-icon.ttf') format('truetype'),
       url('ophelia-icons-site-icon.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.pe-icon {
  font-family: 'ophelia-icons-site-icon';
  display: inline-block;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  flex-shrink: 0;
  color: inherit;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pe-icon-advert::before { content: "\EA01"; }
.pe-icon-eye::before { content: "\EA02"; }
.pe-icon-profile::before { content: "\EA03"; }
.pe-icon-arrow-down::before { content: "\EA04"; }
.pe-icon-arrow-left::before { content: "\EA05"; }
.pe-icon-arrow-right::before { content: "\EA06"; }
.pe-icon-arrow-up::before { content: "\EA07"; }
.pe-icon-check::before { content: "\EA08"; }
.pe-icon-chevron-down::before { content: "\EA09"; }
.pe-icon-chevron-left::before { content: "\EA0A"; }
.pe-icon-chevron-right::before { content: "\EA0B"; }
.pe-icon-chevron-up::before { content: "\EA0C"; }
.pe-icon-menu::before { content: "\EA0D"; }
.pe-icon-png::before { content: "\EA0E"; }
.pe-icon-revenue::before { content: "\EA0F"; }
.pe-icon-search::before { content: "\EA10"; }
.pe-icon-sign-up::before { content: "\EA11"; }
.pe-icon-x::before { content: "\EA12"; }
.pe-icon-inbox::before { content: "\EA13"; }
.pe-icon-flag::before { content: "\EA14"; }
.pe-icon-like::before { content: "\EA15"; }
.pe-icon-spinner::before { content: "\EA16"; }
.pe-icon-star::before { content: "\EA17"; }
.pe-icon-home::before { content: "\EA18"; }
.pe-icon-bell::before { content: "\EA19"; }
.pe-icon-wallet::before { content: "\EA1A"; }
.pe-icon-moon::before { content: "\EA1B"; }
.pe-icon-sun::before { content: "\EA1C"; }
.pe-icon-arrow-curve-left-right::before { content: "\EA1D"; }
.pe-icon-attachment::before { content: "\EA1E"; }
.pe-icon-bell-fill::before { content: "\EA1F"; }
.pe-icon-box-right-up::before { content: "\EA20"; }
.pe-icon-box-to-box::before { content: "\EA21"; }
.pe-icon-cloud-arrow-up::before { content: "\EA22"; }
.pe-icon-dots-vertical::before { content: "\EA23"; }
.pe-icon-explore::before { content: "\EA24"; }
.pe-icon-eye-slash::before { content: "\EA25"; }
.pe-icon-file-arrow-up::before { content: "\EA26"; }
.pe-icon-filter::before { content: "\EA27"; }
.pe-icon-image::before { content: "\EA28"; }
.pe-icon-message-down::before { content: "\EA29"; }
.pe-icon-microphone::before { content: "\EA2A"; }
.pe-icon-play-circle-fill::before { content: "\EA2B"; }
.pe-icon-public::before { content: "\EA2C"; }
.pe-icon-refresh::before { content: "\EA2D"; }
.pe-icon-settings::before { content: "\EA2E"; }
.pe-icon-archive::before { content: "\EA2F"; }
.pe-icon-asc-sorted::before { content: "\EA30"; }
.pe-icon-attach::before { content: "\EA31"; }
.pe-icon-attention-circle::before { content: "\EA32"; }
.pe-icon-bag::before { content: "\EA33"; }
.pe-icon-bank-card::before { content: "\EA34"; }
.pe-icon-barcode-scan::before { content: "\EA35"; }
.pe-icon-bell2::before { content: "\EA36"; }
.pe-icon-blue-ticket::before { content: "\EA37"; }
.pe-icon-box::before { content: "\EA38"; }
.pe-icon-box-add::before { content: "\EA39"; }
.pe-icon-camera::before { content: "\EA3A"; }
.pe-icon-campaign::before { content: "\EA3B"; }
.pe-icon-cart::before { content: "\EA3C"; }
.pe-icon-chart::before { content: "\EA3D"; }
.pe-icon-chat-module::before { content: "\EA3E"; }
.pe-icon-check-mark::before { content: "\EA3F"; }
.pe-icon-check2::before { content: "\EA40"; }
.pe-icon-clock-1::before { content: "\EA41"; }
.pe-icon-collapsed-menu::before { content: "\EA42"; }
.pe-icon-congrat::before { content: "\EA43"; }
.pe-icon-congrat-effected::before { content: "\EA44"; }
.pe-icon-continuous::before { content: "\EA45"; }
.pe-icon-cool-gray-information::before { content: "\EA46"; }
.pe-icon-copy::before { content: "\EA47"; }
.pe-icon-copy-to-clipboard::before { content: "\EA48"; }
.pe-icon-count-down::before { content: "\EA49"; }
.pe-icon-crimson-red-cross::before { content: "\EA4A"; }
.pe-icon-delete-ticket::before { content: "\EA4B"; }
.pe-icon-desc-sorted::before { content: "\EA4C"; }
.pe-icon-diagram::before { content: "\EA4D"; }
.pe-icon-direct::before { content: "\EA4E"; }
.pe-icon-doc::before { content: "\EA4F"; }
.pe-icon-download::before { content: "\EA50"; }
.pe-icon-eco::before { content: "\EA51"; }
.pe-icon-edit-ticket::before { content: "\EA52"; }
.pe-icon-education::before { content: "\EA53"; }
.pe-icon-email::before { content: "\EA54"; }
.pe-icon-error::before { content: "\EA55"; }
.pe-icon-excel::before { content: "\EA56"; }
.pe-icon-export::before { content: "\EA57"; }
.pe-icon-facebook::before { content: "\EA58"; }
.pe-icon-filled-check::before { content: "\EA59"; }
.pe-icon-filled-home::before { content: "\EA5A"; }
.pe-icon-filled-location::before { content: "\EA5B"; }
.pe-icon-filled-play::before { content: "\EA5C"; }
.pe-icon-filled-plus::before { content: "\EA5D"; }
.pe-icon-filter2::before { content: "\EA5E"; }
.pe-icon-filtered::before { content: "\EA5F"; }
.pe-icon-fun::before { content: "\EA60"; }
.pe-icon-games::before { content: "\EA61"; }
.pe-icon-games-filled::before { content: "\EA62"; }
.pe-icon-gift::before { content: "\EA63"; }
.pe-icon-graph::before { content: "\EA64"; }
.pe-icon-gray-information::before { content: "\EA65"; }
.pe-icon-green-check::before { content: "\EA66"; }
.pe-icon-hamburger::before { content: "\EA67"; }
.pe-icon-home2::before { content: "\EA68"; }
.pe-icon-info::before { content: "\EA69"; }
.pe-icon-info-outlined::before { content: "\EA6A"; }
.pe-icon-innovation::before { content: "\EA6B"; }
.pe-icon-instagram::before { content: "\EA6C"; }
.pe-icon-jpg::before { content: "\EA6D"; }
.pe-icon-left-blue-arrow::before { content: "\EA6E"; }
.pe-icon-linkedin::before { content: "\EA6F"; }
.pe-icon-location::before { content: "\EA70"; }
.pe-icon-lottery::before { content: "\EA71"; }
.pe-icon-map::before { content: "\EA72"; }
.pe-icon-measure::before { content: "\EA73"; }
.pe-icon-media::before { content: "\EA74"; }
.pe-icon-menu2::before { content: "\EA75"; }
.pe-icon-microphone2::before { content: "\EA76"; }
.pe-icon-money::before { content: "\EA77"; }
.pe-icon-money-in::before { content: "\EA78"; }
.pe-icon-money-out::before { content: "\EA79"; }
.pe-icon-navigate::before { content: "\EA7A"; }
.pe-icon-not-filtered::before { content: "\EA7B"; }
.pe-icon-not-sorted::before { content: "\EA7C"; }
.pe-icon-not-visible::before { content: "\EA7D"; }
.pe-icon-notification::before { content: "\EA7E"; }
.pe-icon-null-ticket::before { content: "\EA7F"; }
.pe-icon-outlined-trash::before { content: "\EA80"; }
.pe-icon-password::before { content: "\EA81"; }
.pe-icon-pdf::before { content: "\EA82"; }
.pe-icon-people::before { content: "\EA83"; }
.pe-icon-person::before { content: "\EA84"; }
.pe-icon-person-x::before { content: "\EA85"; }
.pe-icon-personel-card::before { content: "\EA86"; }
.pe-icon-phone::before { content: "\EA87"; }
.pe-icon-play::before { content: "\EA88"; }
.pe-icon-play-circle::before { content: "\EA89"; }
.pe-icon-plus::before { content: "\EA8A"; }
.pe-icon-plus2::before { content: "\EA8B"; }
.pe-icon-png2::before { content: "\EA8C"; }
.pe-icon-prize::before { content: "\EA8D"; }
.pe-icon-profile2::before { content: "\EA8E"; }
.pe-icon-psd::before { content: "\EA8F"; }
.pe-icon-qr-code::before { content: "\EA90"; }
.pe-icon-qr-scan::before { content: "\EA91"; }
.pe-icon-question::before { content: "\EA92"; }
.pe-icon-red-cross::before { content: "\EA93"; }
.pe-icon-redo::before { content: "\EA94"; }
.pe-icon-responsible::before { content: "\EA95"; }
.pe-icon-sablon-empty::before { content: "\EA96"; }
.pe-icon-search2::before { content: "\EA97"; }
.pe-icon-settings2::before { content: "\EA98"; }
.pe-icon-shipping::before { content: "\EA99"; }
.pe-icon-shop::before { content: "\EA9A"; }
.pe-icon-sky-blue-ticket::before { content: "\EA9B"; }
.pe-icon-sorting::before { content: "\EA9C"; }
.pe-icon-spinner2::before { content: "\EA9D"; }
.pe-icon-sport::before { content: "\EA9E"; }
.pe-icon-star2::before { content: "\EA9F"; }
.pe-icon-store::before { content: "\EAA0"; }
.pe-icon-success::before { content: "\EAA1"; }
.pe-icon-suitcase::before { content: "\EAA2"; }
.pe-icon-svg::before { content: "\EAA3"; }
.pe-icon-tail::before { content: "\EAA4"; }
.pe-icon-task-square::before { content: "\EAA5"; }
.pe-icon-tel::before { content: "\EAA6"; }
.pe-icon-ticket::before { content: "\EAA7"; }
.pe-icon-ticket-check::before { content: "\EAA8"; }
.pe-icon-ticket-fail::before { content: "\EAA9"; }
.pe-icon-ticket-pending::before { content: "\EAAA"; }
.pe-icon-ticket-searching::before { content: "\EAAB"; }
.pe-icon-ticket-success::before { content: "\EAAC"; }
.pe-icon-time::before { content: "\EAAD"; }
.pe-icon-tv::before { content: "\EAAE"; }
.pe-icon-upload::before { content: "\EAAF"; }
.pe-icon-utility::before { content: "\EAB0"; }
.pe-icon-visible::before { content: "\EAB1"; }
.pe-icon-wallet2::before { content: "\EAB2"; }
.pe-icon-warning::before { content: "\EAB3"; }
.pe-icon-white-line::before { content: "\EAB4"; }
.pe-icon-winner::before { content: "\EAB5"; }
.pe-icon-xls::before { content: "\EAB6"; }
.pe-icon-youtube::before { content: "\EAB7"; }
.pe-icon-online::before { content: "\EAB8"; }
.pe-icon-profile-user::before { content: "\EAB9"; }
.pe-icon-image-edit::before { content: "\EABA"; }
.pe-icon-trash::before { content: "\EABB"; }
.pe-icon-members::before { content: "\EABC"; }
.pe-icon-post::before { content: "\EABD"; }
.pe-icon-c::before { content: "\EABE"; }
.pe-icon-not-full-screen::before { content: "\EABF"; }
.pe-icon-lock::before { content: "\EAC0"; }
.pe-icon-account-multiple-plus::before { content: "\EAC1"; }
.pe-icon-add::before { content: "\EAC2"; }
.pe-icon-add-calendar::before { content: "\EAC3"; }
.pe-icon-alert-circle::before { content: "\EAC4"; }
.pe-icon-blocked::before { content: "\EAC5"; }
.pe-icon-calendar::before { content: "\EAC6"; }
.pe-icon-category-fill::before { content: "\EAC7"; }
.pe-icon-chat-message::before { content: "\EAC8"; }
.pe-icon-clock-circle::before { content: "\EAC9"; }
.pe-icon-copy-right::before { content: "\EACA"; }
.pe-icon-dark-mode-moon::before { content: "\EACB"; }
.pe-icon-desktop::before { content: "\EACC"; }
.pe-icon-pause::before { content: "\EACD"; }
.pe-icon-empty-folder::before { content: "\EACE"; }
.pe-icon-followers-plus::before { content: "\EACF"; }
.pe-icon-hearth-solid::before { content: "\EAD0"; }
.pe-icon-link1::before { content: "\EAD1"; }
.pe-icon-loguot::before { content: "\EAD2"; }
.pe-icon-mail::before { content: "\EAD3"; }
.pe-icon-mention::before { content: "\EAD4"; }
.pe-icon-minus-circle::before { content: "\EAD5"; }
.pe-icon-public-earth::before { content: "\EAD6"; }
.pe-icon-security::before { content: "\EAD7"; }
.pe-icon-shield-check-key::before { content: "\EAD8"; }
.pe-icon-signal-circle::before { content: "\EAD9"; }
.pe-icon-wallet3::before { content: "\EADA"; }
.pe-icon-ahead-second15::before { content: "\EADB"; }
.pe-icon-behind-second15::before { content: "\EADC"; }
.pe-icon-copy-left::before { content: "\EADD"; }
.pe-icon-devices::before { content: "\EADE"; }
.pe-icon-dots-horizontal::before { content: "\EADF"; }
.pe-icon-double-image::before { content: "\EAE0"; }
.pe-icon-edit-list::before { content: "\EAE1"; }
.pe-icon-foward::before { content: "\EAE2"; }
.pe-icon-fullscreen::before { content: "\EAE3"; }
.pe-icon-help::before { content: "\EAE4"; }
.pe-icon-image-plus::before { content: "\EAE5"; }
.pe-icon-lock2::before { content: "\EAE6"; }
.pe-icon-message::before { content: "\EAE7"; }
.pe-icon-pip::before { content: "\EAE8"; }
.pe-icon-send::before { content: "\EAE9"; }
.pe-icon-tv2::before { content: "\EAEA"; }
.pe-icon-voice::before { content: "\EAEB"; }
.pe-icon-webinar::before { content: "\EAEC"; }
.pe-icon-discover::before { content: "\EAED"; }
.pe-icon-follow::before { content: "\EAEE"; }
.pe-icon-unfollow::before { content: "\EAEF"; }
.pe-icon-save::before { content: "\EAF0"; }
.pe-icon-refresh-circle::before { content: "\EAF1"; }
.pe-icon-muted::before { content: "\EAF2"; }
.pe-icon-voice-low::before { content: "\EAF3"; }
.pe-icon-minus::before { content: "\EAF4"; }
.pe-icon-twitter::before { content: "\EAF5"; }
.pe-icon-whatsapp::before { content: "\EAF6"; }
.pe-icon-analytics::before { content: "\EAF7"; }
.pe-icon-effect::before { content: "\EAF8"; }
.pe-icon-rocket::before { content: "\EAF9"; }
.pe-icon-credit-card::before { content: "\EAFA"; }
.pe-icon-effect3star::before { content: "\EAFB"; }
.pe-icon-master-card::before { content: "\EAFC"; }
.pe-icon-trending-up::before { content: "\EAFD"; }
.pe-icon-tag::before { content: "\EAFE"; }
.pe-icon-kg-Agreement::before { content: "\EAFF"; }
.pe-icon-call-end::before { content: "\EB00"; }
.pe-icon-video-off::before { content: "\EB01"; }
.pe-icon-screen-share::before { content: "\EB02"; }
.pe-icon-book::before { content: "\EB03"; }
.pe-icon-vote::before { content: "\EB04"; }
.pe-icon-kg-Clouduploadstorage::before { content: "\EB05"; }
.pe-icon-kg-English-Flag::before { content: "\EB06"; }
.pe-icon-kg-Facebook::before { content: "\EB07"; }
.pe-icon-kg-Github::before { content: "\EB08"; }
.pe-icon-kg-GroupCopy::before { content: "\EB09"; }
.pe-icon-kg-IdentityCard::before { content: "\EB0A"; }
.pe-icon-kg-Inbox::before { content: "\EB0B"; }
.pe-icon-kg-Jdescription::before { content: "\EB0C"; }
.pe-icon-kg-Mobile-Shopping::before { content: "\EB0D"; }
.pe-icon-kg-Outsourcing::before { content: "\EB0E"; }
.pe-icon-kg-Partlycloudy_w_rain::before { content: "\EB0F"; }
.pe-icon-kg-Profile_emergencycontact::before { content: "\EB10"; }
.pe-icon-kg-ProjectManagement::before { content: "\EB11"; }
.pe-icon-kg-QR-code::before { content: "\EB12"; }
.pe-icon-kg-Turkish-Flag::before { content: "\EB13"; }
.pe-icon-kg-WholesaleRequest::before { content: "\EB14"; }
.pe-icon-kg-activity::before { content: "\EB15"; }
.pe-icon-kg-address::before { content: "\EB16"; }
.pe-icon-kg-airplanemode::before { content: "\EB17"; }
.pe-icon-kg-alarm::before { content: "\EB18"; }
.pe-icon-kg-alert-circle::before { content: "\EB19"; }
.pe-icon-kg-alert::before { content: "\EB1A"; }
.pe-icon-kg-home::before { content: "\EB1B"; }
.pe-icon-kg-survey::before { content: "\EB1C"; }
.pe-icon-kg-instant-announcements::before { content: "\EB1D"; }
.pe-icon-kg-announcement::before { content: "\EB1E"; }
.pe-icon-kg-new-members::before { content: "\EB1F"; }
.pe-icon-kg-arrow-right::before { content: "\EB20"; }
.pe-icon-kg-arrow-right1::before { content: "\EB21"; }
.pe-icon-kg-arrow-right2::before { content: "\EB22"; }
.pe-icon-kg-arrow-switch-horizontal::before { content: "\EB23"; }
.pe-icon-kg-baby-carriage::before { content: "\EB24"; }
.pe-icon-kg-badge::before { content: "\EB25"; }
.pe-icon-kg-beach_access::before { content: "\EB26"; }
.pe-icon-kg-bell::before { content: "\EB27"; }
.pe-icon-kg-bell1::before { content: "\EB28"; }
.pe-icon-kg-birthday::before { content: "\EB29"; }
.pe-icon-kg-birthday-cake::before { content: "\EB2A"; }
.pe-icon-kg-birthday1::before { content: "\EB2B"; }
.pe-icon-kg-body-information::before { content: "\EB2C"; }
.pe-icon-kg-bookmark::before { content: "\EB2D"; }
.pe-icon-kg-boybody::before { content: "\EB2E"; }
.pe-icon-kg-break::before { content: "\EB2F"; }
.pe-icon-kg-birthdays-today::before { content: "\EB30"; }
.pe-icon-kg-cake::before { content: "\EB31"; }
.pe-icon-kg-calendar::before { content: "\EB32"; }
.pe-icon-kg-calendar-star::before { content: "\EB33"; }
.pe-icon-kg-calendar1::before { content: "\EB34"; }
.pe-icon-kg-employee-relations::before { content: "\EB35"; }
.pe-icon-kg-card::before { content: "\EB36"; }
.pe-icon-kg-jacket::before { content: "\EB37"; }
.pe-icon-kg-certifications::before { content: "\EB38"; }
.pe-icon-kg-check::before { content: "\EB39"; }
.pe-icon-kg-check1::before { content: "\EB3A"; }
.pe-icon-kg-chevron-down::before { content: "\EB3B"; }
.pe-icon-kg-chevron-left::before { content: "\EB3C"; }
.pe-icon-kg-chevron-right::before { content: "\EB3D"; }
.pe-icon-kg-chevron-up::before { content: "\EB3E"; }
.pe-icon-kg-client-logo::before { content: "\EB3F"; }
.pe-icon-kg-clipboard-list-check::before { content: "\EB40"; }
.pe-icon-kg-clock::before { content: "\EB41"; }
.pe-icon-kg-clock-backward::before { content: "\EB42"; }
.pe-icon-kg-clock-filling::before { content: "\EB43"; }
.pe-icon-kg-clock-filling1::before { content: "\EB44"; }
.pe-icon-kg-close::before { content: "\EB45"; }
.pe-icon-kg-cloud::before { content: "\EB46"; }
.pe-icon-kg-cloudy::before { content: "\EB48"; }
.pe-icon-kg-contact-information::before { content: "\EB49"; }
.pe-icon-kg-corner-up-right::before { content: "\EB4A"; }
.pe-icon-kg-dashboard_vs::before { content: "\EB4B"; }
.pe-icon-kg-design-development_bolt-mind::before { content: "\EB4C"; }
.pe-icon-kg-design-development_brain::before { content: "\EB4D"; }
.pe-icon-kg-design-development_brush-painting::before { content: "\EB4E"; }
.pe-icon-kg-design-development_community-solution::before { content: "\EB4F"; }
.pe-icon-kg-design-development_compass::before { content: "\EB50"; }
.pe-icon-kg-design-development_compass-ruler-pencil::before { content: "\EB51"; }
.pe-icon-kg-design-development_crop-tool::before { content: "\EB52"; }
.pe-icon-kg-design-development_d-direction::before { content: "\EB53"; }
.pe-icon-kg-design-development_design-note::before { content: "\EB54"; }
.pe-icon-kg-design-development_development-area-plan::before { content: "\EB55"; }
.pe-icon-kg-design-development_development-experiment::before { content: "\EB56"; }
.pe-icon-kg-design-development_digital-design-mac::before { content: "\EB57"; }
.pe-icon-kg-design-development_freelancer-dove::before { content: "\EB58"; }
.pe-icon-kg-design-development_garage-goods::before { content: "\EB59"; }
.pe-icon-kg-design-development_global-development::before { content: "\EB5A"; }
.pe-icon-kg-design-development_magic-tool::before { content: "\EB5B"; }
.pe-icon-kg-design-development_notebook-pen::before { content: "\EB5C"; }
.pe-icon-kg-design-development_page-layout::before { content: "\EB5D"; }
.pe-icon-kg-design-development_paint-colors::before { content: "\EB5E"; }
.pe-icon-kg-design-development_picture::before { content: "\EB5F"; }
.pe-icon-kg-design-development_printing-paper::before { content: "\EB60"; }
.pe-icon-kg-design-development_puzzle-pieces::before { content: "\EB61"; }
.pe-icon-kg-design-development_rgb-color::before { content: "\EB62"; }
.pe-icon-kg-design-development_ruler-stylus-pencil::before { content: "\EB63"; }
.pe-icon-kg-design-development_shape-curves::before { content: "\EB64"; }
.pe-icon-kg-design-development_shape-size::before { content: "\EB65"; }
.pe-icon-kg-design-development_shipping-box::before { content: "\EB66"; }
.pe-icon-kg-design-development_shipping-wooden-box::before { content: "\EB67"; }
.pe-icon-kg-design-development_solution-ideas::before { content: "\EB68"; }
.pe-icon-kg-design-development_solutions-plans::before { content: "\EB69"; }
.pe-icon-kg-design-development_tools-bucket::before { content: "\EB6A"; }
.pe-icon-kg-design-development_web-page-code::before { content: "\EB6B"; }
.pe-icon-kg-design-development_web-page-layout::before { content: "\EB6C"; }
.pe-icon-kg-design-development_web-page-settings::before { content: "\EB6D"; }
.pe-icon-kg-design-development_web-page-stats::before { content: "\EB6E"; }
.pe-icon-kg-development::before { content: "\EB6F"; }
.pe-icon-kg-dolar::before { content: "\EB70"; }
.pe-icon-kg-download::before { content: "\EB71"; }
.pe-icon-kg-download1::before { content: "\EB72"; }
.pe-icon-kg-announcements::before { content: "\EB73"; }
.pe-icon-kg-edit-contained::before { content: "\EB74"; }
.pe-icon-kg-edit-pencil::before { content: "\EB75"; }
.pe-icon-kg-education::before { content: "\EB76"; }
.pe-icon-kg-education1::before { content: "\EB77"; }
.pe-icon-kg-email-fill::before { content: "\EB78"; }
.pe-icon-kg-en::before { content: "\EB79"; }
.pe-icon-kg-end::before { content: "\EB7A"; }
.pe-icon-kg-euro::before { content: "\EB7B"; }
.pe-icon-kg-events::before { content: "\EB7C"; }
.pe-icon-kg-family::before { content: "\EB7D"; }
.pe-icon-kg-favor_fill::before { content: "\EB7E"; }
.pe-icon-kg-favorite::before { content: "\EB7F"; }
.pe-icon-kg-favorites-fill::before { content: "\EB80"; }
.pe-icon-kg-feedback::before { content: "\EB81"; }
.pe-icon-kg-file_check_fill::before { content: "\EB82"; }
.pe-icon-kg-filter::before { content: "\EB83"; }
.pe-icon-kg-filter1::before { content: "\EB84"; }
.pe-icon-kg-finance_mode::before { content: "\EB85"; }
.pe-icon-kg-fog::before { content: "\EB86"; }
.pe-icon-kg-girlbody::before { content: "\EB87"; }
.pe-icon-kg-security-guard::before { content: "\EB88"; }
.pe-icon-kg-holiday::before { content: "\EB89"; }
.pe-icon-kg-human-resources::before { content: "\EB8A"; }
.pe-icon-kg-humidity::before { content: "\EB8B"; }
.pe-icon-kg-ic_customerservice1::before { content: "\EB8C"; }
.pe-icon-kg-icon-certificate-solid::before { content: "\EB8D"; }
.pe-icon-kg-icon_leave_management::before { content: "\EB8E"; }
.pe-icon-kg-icon_quxiaoquanbu::before { content: "\EB8F"; }
.pe-icon-kg-administrative-affairs::before { content: "\EB90"; }
.pe-icon-kg-hr::before { content: "\EB91"; }
.pe-icon-kg-image-up::before { content: "\EB92"; }
.pe-icon-kg-info::before { content: "\EB93"; }
.pe-icon-kg-info-fill::before { content: "\EB94"; }
.pe-icon-kg-instagram::before { content: "\EB95"; }
.pe-icon-kg-job::before { content: "\EB96"; }
.pe-icon-kg-kartega::before { content: "\EB97"; }
.pe-icon-kg-kartega-logo-color::before { content: "\EB98"; }
.pe-icon-kg-kartega-logo-white::before { content: "\EB99"; }
.pe-icon-kg-kartega-translate-logo::before { content: "\EB9A"; }
.pe-icon-kg-kartega-symbol::before { content: "\EB9B"; }
.pe-icon-kg-late_attendance::before { content: "\EB9C"; }
.pe-icon-kg-light_rain::before { content: "\EB9D"; }
.pe-icon-kg-like_fill::before { content: "\EB9E"; }
.pe-icon-kg-like_outline::before { content: "\EB9F"; }
.pe-icon-kg-link::before { content: "\EBA0"; }
.pe-icon-kg-linkedin::before { content: "\EBA1"; }
.pe-icon-kg-logo-type::before { content: "\EBA2"; }
.pe-icon-kg-logout::before { content: "\EBA3"; }
.pe-icon-kg-mail::before { content: "\EBA4"; }
.pe-icon-kg-mail1::before { content: "\EBA5"; }
.pe-icon-kg-manage_search::before { content: "\EBA6"; }
.pe-icon-kg-map::before { content: "\EBA7"; }
.pe-icon-kg-map-filling::before { content: "\EBA8"; }
.pe-icon-kg-map-marker::before { content: "\EBA9"; }
.pe-icon-kg-map1::before { content: "\EBAA"; }
.pe-icon-kg-marker::before { content: "\EBAB"; }
.pe-icon-kg-medal::before { content: "\EBAC"; }
.pe-icon-kg-medium::before { content: "\EBAD"; }
.pe-icon-kg-megaphone::before { content: "\EBAE"; }
.pe-icon-kg-menu::before { content: "\EBAF"; }
.pe-icon-kg-message::before { content: "\EBB0"; }
.pe-icon-kg-minus::before { content: "\EBB1"; }
.pe-icon-kg-missed_clock::before { content: "\EBB2"; }
.pe-icon-kg-mobileapp::before { content: "\EBB3"; }
.pe-icon-kg-moderate_rain::before { content: "\EBB4"; }
.pe-icon-kg-money::before { content: "\EBB5"; }
.pe-icon-kg-my-questionnaire::before { content: "\EBB6"; }
.pe-icon-kg-nav::before { content: "\EBB7"; }
.pe-icon-kg-newborns_boy::before { content: "\EBB8"; }
.pe-icon-kg-newborns_girl::before { content: "\EBB9"; }
.pe-icon-kg-newjoiners::before { content: "\EBBA"; }
.pe-icon-kg-nointernet::before { content: "\EBBB"; }
.pe-icon-kg-o-bell::before { content: "\EBBC"; }
.pe-icon-kg-my-payments::before { content: "\EBBD"; }
.pe-icon-kg-office-logo::before { content: "\EBBE"; }
.pe-icon-kg-organizational-structure::before { content: "\EBBF"; }
.pe-icon-kg-organization::before { content: "\EBC0"; }
.pe-icon-kg-overcast::before { content: "\EBC1"; }
.pe-icon-kg-pants::before { content: "\EBC2"; }
.pe-icon-kg-paperclip::before { content: "\EBC3"; }
.pe-icon-kg-partly_cloudy::before { content: "\EBC4"; }
.pe-icon-kg-partner::before { content: "\EBC5"; }
.pe-icon-kg-people_team::before { content: "\EBC6"; }
.pe-icon-kg-personal::before { content: "\EBC7"; }
.pe-icon-kg-personal-development::before { content: "\EBC8"; }
.pe-icon-kg-phone::before { content: "\EBC9"; }
.pe-icon-kg-phone1::before { content: "\EBCA"; }
.pe-icon-kg-phone2::before { content: "\EBCB"; }
.pe-icon-kg-phone3::before { content: "\EBCC"; }
.pe-icon-kg-photo::before { content: "\EBCD"; }
.pe-icon-kg-pin::before { content: "\EBCE"; }
.pe-icon-kg-plane::before { content: "\EBCF"; }
.pe-icon-kg-plus::before { content: "\EBD0"; }
.pe-icon-kg-profile::before { content: "\EBD1"; }
.pe-icon-kg-profile-outline::before { content: "\EBD2"; }
.pe-icon-kg-question::before { content: "\EBD3"; }
.pe-icon-kg-questionnaire::before { content: "\EBD4"; }
.pe-icon-kg-questionnaire1::before { content: "\EBD5"; }
.pe-icon-kg-rain_and_cloudy::before { content: "\EBD6"; }
.pe-icon-kg-refresh::before { content: "\EBD7"; }
.pe-icon-kg-right-arrow::before { content: "\EBD8"; }
.pe-icon-kg-sales::before { content: "\EBD9"; }
.pe-icon-kg-save::before { content: "\EBDA"; }
.pe-icon-kg-search::before { content: "\EBDB"; }
.pe-icon-kg-send-fill::before { content: "\EBDC"; }
.pe-icon-kg-services::before { content: "\EBDD"; }
.pe-icon-kg-shoes::before { content: "\EBDE"; }
.pe-icon-kg-sickroom::before { content: "\EBDF"; }
.pe-icon-kg-complaints-and-suggestions::before { content: "\EBE0"; }
.pe-icon-kg-smile::before { content: "\EBE1"; }
.pe-icon-kg-snow::before { content: "\EBE2"; }
.pe-icon-kg-software::before { content: "\EBE3"; }
.pe-icon-kg-succes-circle::before { content: "\EBE4"; }
.pe-icon-kg-sunny::before { content: "\EBE5"; }
.pe-icon-kg-support::before { content: "\EBE6"; }
.pe-icon-kg-sweatshirt::before { content: "\EBE7"; }
.pe-icon-kg-t-shirt::before { content: "\EBE8"; }
.pe-icon-kg-requests-and-tasks::before { content: "\EBE9"; }
.pe-icon-kg-thermometer::before { content: "\EBEA"; }
.pe-icon-kg-thunderstorm::before { content: "\EBEB"; }
.pe-icon-kg-time::before { content: "\EBEC"; }
.pe-icon-kg-timeline::before { content: "\EBED"; }
.pe-icon-kg-timer-pause::before { content: "\EBEE"; }
.pe-icon-kg-timer-start::before { content: "\EBEF"; }
.pe-icon-kg-tr::before { content: "\EBF0"; }
.pe-icon-kg-trash-copy::before { content: "\EBF1"; }
.pe-icon-kg-trend-down::before { content: "\EBF2"; }
.pe-icon-kg-trend_up::before { content: "\EBF3"; }
.pe-icon-kg-ttww::before { content: "\EBF4"; }
.pe-icon-kg-tv::before { content: "\EBF5"; }
.pe-icon-kg-user-plus-solid::before { content: "\EBF6"; }
.pe-icon-kg-shift::before { content: "\EBF7"; }
.pe-icon-kg-view::before { content: "\EBF8"; }
.pe-icon-kg-volunteer::before { content: "\EBFB"; }
.pe-icon-kg-waiting::before { content: "\EBFC"; }
.pe-icon-kg-wifi::before { content: "\EBFD"; }
.pe-icon-kg-x::before { content: "\EBFE"; }
.pe-icon-kg-vest::before { content: "\EBFF"; }
.pe-icon-kg-meal-menu::before { content: "\EC00"; }
.pe-icon-kg-newborns-list::before { content: "\EC01"; }
.pe-icon-kg-management-dashboard::before { content: "\EC02"; }
.pe-icon-kg-youtube::before { content: "\EC03"; }
.pe-icon-kg-inventory-write-off::before { content: "\EC04"; }
.pe-icon-kg-inventory-handover-form::before { content: "\EC05"; }
.pe-icon-kg-inventory-management::before { content: "\EC06"; }
