@font-face {
  font-family: 'pendigit-site-icon';
  src: url('pendigit-site-icon.woff2') format('woff2'),
       url('pendigit-site-icon.woff') format('woff'),
       url('pendigit-site-icon.ttf') format('truetype'),
       url('pendigit-site-icon.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.pe-icon {
  font-family: 'pendigit-site-icon';
  display: inline-block;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  flex-shrink: 0;
  color: inherit;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pe-icon-advert::before { content: "\EA01"; }
.pe-icon-eye::before { content: "\EA02"; }
.pe-icon-profile::before { content: "\EA03"; }
.pe-icon-arrow-down::before { content: "\EA04"; }
.pe-icon-arrow-left::before { content: "\EA05"; }
.pe-icon-arrow-right::before { content: "\EA06"; }
.pe-icon-arrow-up::before { content: "\EA07"; }
.pe-icon-check::before { content: "\EA08"; }
.pe-icon-chevron-down::before { content: "\EA09"; }
.pe-icon-chevron-left::before { content: "\EA0A"; }
.pe-icon-chevron-right::before { content: "\EA0B"; }
.pe-icon-chevron-up::before { content: "\EA0C"; }
.pe-icon-menu::before { content: "\EA0D"; }
.pe-icon-png::before { content: "\EA0E"; }
.pe-icon-revenue::before { content: "\EA0F"; }
.pe-icon-search::before { content: "\EA10"; }
.pe-icon-sign-up::before { content: "\EA11"; }
.pe-icon-x::before { content: "\EA12"; }
.pe-icon-flag::before { content: "\EA14"; }
.pe-icon-like::before { content: "\EA15"; }
.pe-icon-spinner::before { content: "\EA16"; }
.pe-icon-star::before { content: "\EA17"; }
.pe-icon-home::before { content: "\EA18"; }
.pe-icon-bell::before { content: "\EA19"; }
.pe-icon-wallet::before { content: "\EA1A"; }
.pe-icon-moon::before { content: "\EA1B"; }
.pe-icon-sun::before { content: "\EA1C"; }
.pe-icon-arrow-curve-left-right::before { content: "\EA1D"; }
.pe-icon-attachment::before { content: "\EA1E"; }
.pe-icon-bell-fill::before { content: "\EA1F"; }
.pe-icon-box-right-up::before { content: "\EA20"; }
.pe-icon-box-to-box::before { content: "\EA21"; }
.pe-icon-cloud-arrow-up::before { content: "\EA22"; }
.pe-icon-dots-vertical::before { content: "\EA23"; }
.pe-icon-explore::before { content: "\EA24"; }
.pe-icon-eye-slash::before { content: "\EA25"; }
.pe-icon-file-arrow-up::before { content: "\EA26"; }
.pe-icon-filter::before { content: "\EA27"; }
.pe-icon-image::before { content: "\EA28"; }
.pe-icon-message-down::before { content: "\EA29"; }
.pe-icon-microphone::before { content: "\EA2A"; }
.pe-icon-play-circle-fill::before { content: "\EA2B"; }
.pe-icon-public::before { content: "\EA2C"; }
.pe-icon-refresh::before { content: "\EA2D"; }
.pe-icon-settings::before { content: "\EA2E"; }
.pe-icon-archive::before { content: "\EA2F"; }
.pe-icon-asc-sorted::before { content: "\EA30"; }
.pe-icon-attach::before { content: "\EA31"; }
.pe-icon-attention-circle::before { content: "\EA32"; }
.pe-icon-bag::before { content: "\EA33"; }
.pe-icon-bank-card::before { content: "\EA34"; }
.pe-icon-barcode-scan::before { content: "\EA35"; }
.pe-icon-bell2::before { content: "\EA36"; }
.pe-icon-blue-ticket::before { content: "\EA37"; }
.pe-icon-box::before { content: "\EA38"; }
.pe-icon-box-add::before { content: "\EA39"; }
.pe-icon-camera::before { content: "\EA3A"; }
.pe-icon-campaign::before { content: "\EA3B"; }
.pe-icon-cart::before { content: "\EA3C"; }
.pe-icon-chart::before { content: "\EA3D"; }
.pe-icon-chat-module::before { content: "\EA3E"; }
.pe-icon-check-mark::before { content: "\EA3F"; }
.pe-icon-check2::before { content: "\EA40"; }
.pe-icon-clock-1::before { content: "\EA41"; }
.pe-icon-collapsed-menu::before { content: "\EA42"; }
.pe-icon-congrat::before { content: "\EA43"; }
.pe-icon-congrat-effected::before { content: "\EA44"; }
.pe-icon-continuous::before { content: "\EA45"; }
.pe-icon-cool-gray-information::before { content: "\EA46"; }
.pe-icon-copy::before { content: "\EA47"; }
.pe-icon-copy-to-clipboard::before { content: "\EA48"; }
.pe-icon-count-down::before { content: "\EA49"; }
.pe-icon-crimson-red-cross::before { content: "\EA4A"; }
.pe-icon-delete-ticket::before { content: "\EA4B"; }
.pe-icon-desc-sorted::before { content: "\EA4C"; }
.pe-icon-diagram::before { content: "\EA4D"; }
.pe-icon-direct::before { content: "\EA4E"; }
.pe-icon-doc::before { content: "\EA4F"; }
.pe-icon-download::before { content: "\EA50"; }
.pe-icon-eco::before { content: "\EA51"; }
.pe-icon-edit-ticket::before { content: "\EA52"; }
.pe-icon-education::before { content: "\EA53"; }
.pe-icon-email::before { content: "\EA54"; }
.pe-icon-error::before { content: "\EA55"; }
.pe-icon-excel::before { content: "\EA56"; }
.pe-icon-export::before { content: "\EA57"; }
.pe-icon-facebook::before { content: "\EA58"; }
.pe-icon-filled-check::before { content: "\EA59"; }
.pe-icon-filled-home::before { content: "\EA5A"; }
.pe-icon-filled-location::before { content: "\EA5B"; }
.pe-icon-filled-play::before { content: "\EA5C"; }
.pe-icon-filled-plus::before { content: "\EA5D"; }
.pe-icon-filter2::before { content: "\EA5E"; }
.pe-icon-filtered::before { content: "\EA5F"; }
.pe-icon-fun::before { content: "\EA60"; }
.pe-icon-games::before { content: "\EA61"; }
.pe-icon-games-filled::before { content: "\EA62"; }
.pe-icon-gift::before { content: "\EA63"; }
.pe-icon-graph::before { content: "\EA64"; }
.pe-icon-gray-information::before { content: "\EA65"; }
.pe-icon-green-check::before { content: "\EA66"; }
.pe-icon-hamburger::before { content: "\EA67"; }
.pe-icon-home2::before { content: "\EA68"; }
.pe-icon-info::before { content: "\EA69"; }
.pe-icon-info-outlined::before { content: "\EA6A"; }
.pe-icon-innovation::before { content: "\EA6B"; }
.pe-icon-instagram::before { content: "\EA6C"; }
.pe-icon-jpg::before { content: "\EA6D"; }
.pe-icon-left-blue-arrow::before { content: "\EA6E"; }
.pe-icon-linkedin::before { content: "\EA6F"; }
.pe-icon-location::before { content: "\EA70"; }
.pe-icon-lottery::before { content: "\EA71"; }
.pe-icon-map::before { content: "\EA72"; }
.pe-icon-measure::before { content: "\EA73"; }
.pe-icon-media::before { content: "\EA74"; }
.pe-icon-menu2::before { content: "\EA75"; }
.pe-icon-microphone2::before { content: "\EA76"; }
.pe-icon-money::before { content: "\EA77"; }
.pe-icon-money-in::before { content: "\EA78"; }
.pe-icon-money-out::before { content: "\EA79"; }
.pe-icon-navigate::before { content: "\EA7A"; }
.pe-icon-not-filtered::before { content: "\EA7B"; }
.pe-icon-not-sorted::before { content: "\EA7C"; }
.pe-icon-not-visible::before { content: "\EA7D"; }
.pe-icon-notification::before { content: "\EA7E"; }
.pe-icon-null-ticket::before { content: "\EA7F"; }
.pe-icon-outlined-trash::before { content: "\EA80"; }
.pe-icon-password::before { content: "\EA81"; }
.pe-icon-pdf::before { content: "\EA82"; }
.pe-icon-people::before { content: "\EA83"; }
.pe-icon-person::before { content: "\EA84"; }
.pe-icon-person-x::before { content: "\EA85"; }
.pe-icon-personel-card::before { content: "\EA86"; }
.pe-icon-phone::before { content: "\EA87"; }
.pe-icon-play::before { content: "\EA88"; }
.pe-icon-play-circle::before { content: "\EA89"; }
.pe-icon-plus::before { content: "\EA8A"; }
.pe-icon-plus2::before { content: "\EA8B"; }
.pe-icon-png2::before { content: "\EA8C"; }
.pe-icon-prize::before { content: "\EA8D"; }
.pe-icon-profile2::before { content: "\EA8E"; }
.pe-icon-psd::before { content: "\EA8F"; }
.pe-icon-qr-code::before { content: "\EA90"; }
.pe-icon-qr-scan::before { content: "\EA91"; }
.pe-icon-question::before { content: "\EA92"; }
.pe-icon-red-cross::before { content: "\EA93"; }
.pe-icon-redo::before { content: "\EA94"; }
.pe-icon-responsible::before { content: "\EA95"; }
.pe-icon-sablon-empty::before { content: "\EA96"; }
.pe-icon-search2::before { content: "\EA97"; }
.pe-icon-settings2::before { content: "\EA98"; }
.pe-icon-shipping::before { content: "\EA99"; }
.pe-icon-shop::before { content: "\EA9A"; }
.pe-icon-sky-blue-ticket::before { content: "\EA9B"; }
.pe-icon-sorting::before { content: "\EA9C"; }
.pe-icon-spinner2::before { content: "\EA9D"; }
.pe-icon-sport::before { content: "\EA9E"; }
.pe-icon-star2::before { content: "\EA9F"; }
.pe-icon-store::before { content: "\EAA0"; }
.pe-icon-success::before { content: "\EAA1"; }
.pe-icon-suitcase::before { content: "\EAA2"; }
.pe-icon-svg::before { content: "\EAA3"; }
.pe-icon-tail::before { content: "\EAA4"; }
.pe-icon-task-square::before { content: "\EAA5"; }
.pe-icon-tel::before { content: "\EAA6"; }
.pe-icon-ticket::before { content: "\EAA7"; }
.pe-icon-ticket-check::before { content: "\EAA8"; }
.pe-icon-ticket-fail::before { content: "\EAA9"; }
.pe-icon-ticket-pending::before { content: "\EAAA"; }
.pe-icon-ticket-searching::before { content: "\EAAB"; }
.pe-icon-ticket-success::before { content: "\EAAC"; }
.pe-icon-time::before { content: "\EAAD"; }
.pe-icon-tv::before { content: "\EAAE"; }
.pe-icon-upload::before { content: "\EAAF"; }
.pe-icon-utility::before { content: "\EAB0"; }
.pe-icon-visible::before { content: "\EAB1"; }
.pe-icon-wallet2::before { content: "\EAB2"; }
.pe-icon-warning::before { content: "\EAB3"; }
.pe-icon-white-line::before { content: "\EAB4"; }
.pe-icon-winner::before { content: "\EAB5"; }
.pe-icon-xls::before { content: "\EAB6"; }
.pe-icon-youtube::before { content: "\EAB7"; }
